<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/common/css/index.css}">
    <link rel="stylesheet" th:href="@{/static/common/css/common.css}">
    <script th:src="@{/static/common/js/vue.js}"></script>
    <script th:src="@{/static/common/js/axios.min.js}"></script>
    <script th:src="@{/static/common/js/element-2.15.5.js}"></script>
</head>

<body>
<div id="app">
    <el-container>
        <el-header>
            <el-input clearable class="header-search" size="small" v-model="searchContent" prefix-icon="el-icon-search"
                      placeholder="输入关键字搜索"></el-input>
            <el-button type="success" size="small" icon="el-icon-plus">新增</el-button>
            <el-button type="danger" size="small" icon="el-icon-delete">删除</el-button>
        </el-header>
        <el-main>
            <el-table
                    fit
                    stripe
                    highlight-current-row
                    style="width: 100%"
                    :max-height="tableHeight"
                    :data="search(tableData)">
                <el-table-column fixed align="center" type="selection" width="50"></el-table-column>
                <el-table-column fixed type="expand" width="50">
                    <template slot-scope="props">
                        <el-form label-position="left"
                                 class="demo-table-expand">
                            <el-form-item label="姓名">
                                <span>{{ props.row.name }}</span>
                            </el-form-item>
                            <el-form-item label="省份">
                                <span>{{ props.row.province }}</span>
                            </el-form-item>
                            <el-form-item label="市区">
                                <span>{{ props.row.city }}</span>
                            </el-form-item>
                            <el-form-item label="地址">
                                <span>{{ props.row.address }}</span>
                            </el-form-item>
                            <el-form-item label="邮编">
                                <span>{{ props.row.zip }}</span>
                            </el-form-item>
                            <el-form-item label="日期">
                                <span>{{ props.row.date }}</span>
                            </el-form-item>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column fixed sortable prop="name" align="center" label="姓名" width="100">
                    <template slot-scope="scope">
                        <el-popover trigger="hover" placement="right">
                            <p>姓名: {{ scope.row.name }}</p>
                            <p>住址: {{ scope.row.address }}</p>
                            <div slot="reference" class="name-wrapper">
                                <el-tag size="medium">{{ scope.row.name }}</el-tag>
                            </div>
                        </el-popover>
                    </template>
                </el-table-column>
                <el-table-column prop="province" label="省份" align="center" width="150"></el-table-column>
                <el-table-column prop="city" label="市区" align="center" width="150"></el-table-column>
                <el-table-column prop="address" label="地址" align="center" width="300"></el-table-column>
                <el-table-column prop="zip" label="邮编" align="center" width="150"></el-table-column>
                <el-table-column sortable prop="date" label="日期" align="center" width="300">
                    <template slot-scope="scope">
                        <i class="el-icon-time"></i>
                        <span style="margin-left: 10px">{{ scope.row.date }}</span>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" align="center" width="200" label="操作">
                    <!--<template slot="header" slot-scope="scope">-->
                    <!--    <el-input clearable size="medium" v-model="searchContent" prefix-icon="el-icon-search"-->
                    <!--              placeholder="输入关键字搜索"></el-input>-->
                    <!--</template>-->
                    <template slot-scope="scope">
                        <el-button circle icon="el-icon-edit" size="mini"
                                   @click="edit(scope.$index, scope.row)"></el-button>
                        <el-button circle icon="el-icon-delete" type="danger" size="mini"
                                   @click="deleteOne(scope.$index, tableData)"></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
        <el-footer>
            <el-pagination @size-change="onSizeChange"
                           @current-change="onCurrentChange"
                           :page-sizes="[10, 20, 50]"
                           :current-page="currentPage"
                           :page-size="pageSize"
                           :total="totalCount"
                           layout="total, sizes, prev, pager, next, jumper"
                           background>
            </el-pagination>
        </el-footer>
    </el-container>

</div>
</body>

<!-- 自身处理函数-->
<script th:src="@{/static/proxy/eleHome.js}"></script>
</html>

