/*
Sunday添加
*/
.el-table tbody tr:hover > td {
    font-weight: bold
}

.el-header {
    background-color: #FFFFFF;
    color: #1a2b3c;
    line-height: 60px;
}

.el-aside {
    /*color: #1a2b3c;*/
    height: 100%;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-table .stripe-row {
    background: rgba(218, 222, 222, 0.65);
    /*background: #DADEDE;*/
}

.demo-table-expand {
    font-size: 0;
}

.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}

.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.el-table th > .cell {
    display: inline-block;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: unset;
}

.el-pagination {
    /*margin-bottom: 15px;*/
    margin-top: 18px;
    text-align: right;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    /*min-height: 400px;*/
    height: 100%;
}

.el-menu-vertical-demo {
    border-right: solid 1px #1a2b3c;
    height: 100%;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.el-form-item {
    width: 90%;
}

.el-cascader {
    width: 100%;
}

.header-search {
    width: 25%;
    margin-right: 10px;
}

.table-header {
    background: #c0c2bc;
    color: #fff
}

.el-driver-line {
    margin: 13px 0;
}

/*.el-header {*/
/*    background-color: #343d46;*/
/*    color: #FFF;*/
/*    line-height: 58px;*/
/*}*/


